<!--todo: <div ng-show="authenticated"> variable authenticate will be using to everyone -->
<!--todo: https://www.youtube.com/watch?v=OPxeCiy0RdY&ab_channel=DerekBanas--> s

<div class="container" ng-show="!authenticated">
    <div class="row" ng-if="ctrl.msg">
        <div class="mx-auto">
            <p class="text-danger">{{ctrl.msg}}</p>
        </div>
    </div>
    <div class="row">
        <form class="mx-auto col-10 col-md-4">
            <label>Sign Up</label>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="name" ng-model="ctrl.email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="name" ng-model="ctrl.user.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="passwordInput" placeholder="password" ng-model="ctrl.user.password">
            </div>
            <div class="form-group">
<!--                todo: signUp method-->
                <button type="submit" class="btn btn-primary col" ng-click="ctrl.signUp()"> Submit </button>
            </div>
        </form>

    </div>
</div>
